In [6]:
SALARY_RAISE_FACTOR = 0.05
STATE_CODE_MAP = {'WA': 'Washington', 'TX': 'Texas'}
def update_employee_record(rec):
    old_sal = rec['salary']
    new_sal = old_sal * (1 + SALARY_RAISE_FACTOR)
    rec['salary'] = new_sal
    state_code = rec['state_code']
    rec['state_name'] = STATE_CODE_MAP[state_code]
input_data = [
    {'employee_name': 'Susan', 'salary': 100000.0,
     'state_code': 'WA'},
    {'employee_name': 'Ellen', 'salary': 75000.0,
     'state_code': 'TX'},
]
for rec in input_data:
    update_employee_record(rec)
    name = rec['employee_name']
    salary = rec['salary']
    state = rec['state_name']
    print (name + ' now lives in ' + state);
    print ('   and makes $' + str(salary));

Susan now lives in Washington
   and makes $105000.0
Ellen now lives in Texas
   and makes $78750.0

In [9]:
pairs = [("one",1), ("two",2)]
as_dict = dict(pairs)
same_as_pairs = as_dict.items()
print(as_dict["one"])

for key, value in as_dict.items():
 print ("the value for ", key, " is ", value);

1
the value for  one  is  1
the value for  two  is  2

In [7]:
sqr = lambda x : x*x
five_sqrd = sqr(5)

In [8]:
def apply_to_evens(a_list, a_func):
 return [a_func(x) for x in a_list if x%2==0]
my_list = [1,2,3,4,5]
sqrs_of_evens = apply_to_evens(my_list, lambda x:x*x)

In [12]:
try:
    lines = input_text.split("\n")
    print ("tenth line was: ", lines[9]);
except:
    print ("There were < 10 lines");

There were < 10 lines

In [16]:
class Dog:
 def __init__(self, name):
   self.name = name
 def respond_to_command(self, command):
   if command == self.name: self.speak()
 def speak(self):
   print ("bark bark!!");
fido = Dog("fido")
fido.respond_to_command("spot") # does nothing 
fido.respond_to_command("fido")

bark bark!!

In [19]:
import pandas as pd
# Making data frame from a dictionary
# that maps column names to their values
df = pd.DataFrame({
  "name": ["Bob", "Alex", "Janice"],
  "age": [60, 25, 33]
  })
# Reading a DataFrame from a file
#other_df = pd.read_csv(“myfile.csv”)
# Making new columns from old ones
# is really easy
df["age_plus_one"] = df["age"] + 1;
df["age_times_two"] = 2 * df["age"]; 
df["age_squared"] = df["age"] * df["age"]; 
df["over_30"] = (df["age"] > 30); # this col is bools
# The columns have various built-in aggregate functions
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)
# You can select several rows of the DataFrame
# and make a new DataFrame out of them
df_below50 = df[df["age"] < 50]
# Apply a custom function to a column
df["age_squared"] = df["age"].apply(lambda x: x*x)

In [21]:
print(df)

   age    name  age_plus_one  age_times_two  age_squared  over_30
0   60     Bob            61            120         3600     True
1   25    Alex            26             50          625    False
2   33  Janice            34             66         1089     True

In [27]:
# Create a DataFrame containing the same data,
# but where name is the index
df_w_name_as_ind = df.set_index("name");
print (df_w_name_as_ind.index); # prints their names
print(df_w_name_as_ind);
# Get the row for Bob
bobs_row = df_w_name_as_ind.loc["Bob"]; 
print (bobs_row); # prints 60

Index(['Bob', 'Alex', 'Janice'], dtype='object', name='name')
        age  age_plus_one  age_times_two  age_squared  over_30
name
Bob      60            61            120         3600     True
Alex     25            26             50          625    False
Janice   33            34             66         1089     True
age                60
age_plus_one       61
age_times_two     120
age_squared      3600
over_30          True
Name: Bob, dtype: object

In [ ]:
>>> import pandas as pd
>>> s = pd.Series([1,2,3])  # make Series from list
>>>
>>> # display the values in s
>>> # note index is to the far left
>>> s

In [28]:
df_w_age = pd.DataFrame({
  "name": ["Tom", "Tyrell", "Claire"],
  "age": [60, 25, 33]
  })
df_w_height = pd.DataFrame({
  "name": ["Tom", "Tyrell", "Claire"],
  "height": [6.2, 4.0, 5.5]
  });
joined = df_w_age.set_index("name").join(
            df_w_height.set_index("name"));
print (joined);

        age  height
name
Tom      60     6.2
Tyrell   25     4.0
Claire   33     5.5

In [29]:
df = pd.DataFrame({
  "name": ["Tom", "Tyrell", "Claire"],
  "age": [60, 25, 33],
    "height": [6.2, 4.0, 5.5],
    "gender": ["M", "M", "F"]
     })
print (df.groupby("gender").mean())
medians = df.groupby("gender").quantile(0.5)
def agg(ddf):
           return pd.Series({
               "name": max(ddf["name"]),
               "oldest": max(ddf["age"]),
               "mean_height": ddf["height"].mean()
                 })
print (df.groupby("gender").apply(agg))

         age  height
gender
F       33.0     5.5
M       42.5     5.1
        mean_height    name  oldest
gender
F               5.5  Claire      33
M               5.1  Tyrell      60